@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  "Inter", sans-serif;

}
body{
    /* background: rgba(26, 11, 46, 1); */
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 200px;
    max-width: 1600px;
    align-items: center;
    text-align: left;
    background: rgba(26, 11, 46, 1);
    
}
.menu{
    display: flex;
    gap: 32px;
    color: #FFFFFF;
    font-style: medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.navTech{
/* font-size: large; */
/* font-weight: 900; */
font-size: 47px;
color: #FFFFFF;


}
.wave{
    /* border: 1px solid rgba(0, 0, 0, 1); */
    background: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    



}
.Subscribe{
    color: #FFFFFF;
    font-style: medium;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    display: flex;
    gap: 4px;
    padding: 12px 16px 7px 16px;
    border-radius: 10000px;
    background:linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8) ;
    
}
.arrow{
    
}
.hamber{
color: #FFFFFF;
display: none;
}


.hero{
    background: url(./assets/hero-bg.png);
    background-position: center;
    height: 760px;
    /* max-width: 1600px; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap:40px;
    padding-top: 70px;
}
.herocircle{
    background:url(./assets/hero-circle.png);
    background-position: center;
    background-size:100%;
    background-repeat: no-repeat;
    width:  350px;
    width: fit-content 100%;
    height: 350px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8.33px 41.67px;
}
.herotech{
    font-style: Extra Bold;
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 15px;
}
.herolittle{
    color: rgba(255, 255, 255, 1);
    font-style:normal   ;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}
.heroTL{
    gap: 24px;
}
.buttom-spotify{
    padding: 12px 20px 12px 20px;
    gap: 8px;
    border-radius: 10000px;
    background:linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8) ;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;  

}
.spotilogo{
    color: #FFFFFF;
}
.buttomcontriner{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 24px;
}
.buttom-Subscribe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    border-radius: 10000px;
    gap: 8px;
    font-weight: 600;
    font-size: 16px;
    color: #00FF88;
    /* text-align: left; */
    line-height: 19px;
    border: 1px solid ;
    border-color: #00FF88;
    background:none;
    
}
.newicon{
    background-color: #00FF88;
    padding: 8px 16px;
    font-size: 18px;
    font-weight:600;
    line-height: 22px;
    width: 75px;
    height: 38px;
    border-radius: 10000px;
    position: relative;
    top: 90px;
    right: -120px;
}
.apps-contriner{
    background: #1A0B2E;
    max-width: 1600px;
    height: 646px;
    padding: 50px 200px 200px 200px;
}
.about-the-letter{
    text-align: center;
    font-style: Bold;
    font-size: 48px;
    font-weight:700;
    line-height: 58px;
    max-width: 1200px;
    height: 58px;
    color: #FFFFFF;
}
.appsfont{
    text-align: center;
    color: #FFFFFF;
    /* font-style: normal; */
    font-size:16px;
    font-weight: 250;
    line-height: 20px;
    padding-top: 25px;
    gap: 10px;
}
.appsdownB-contriner{
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  
}
.appsdown-contriner{
    

}
.appsdownB{
 color: #00FF88;
 font-size: 48px;
 font-weight: 900;
 line-height: 58px;
 text-align: center;
}
.appsdownL{
    color: #FFFFFF;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    max-width: 240px;
    height: 20px;
    text-align: center;
    padding-top: 10px;
}
.apps2-contriner{
   padding: 120px 200px;
   background:  #230E3D;
   max-width: 1600px;
   /* height: 1121px; */
   gap: 40px;
}
.top-letter{
   color: #FFFFFF;
   font-style: Bold;
   font-size: 48px;
   font-weight: 700;
   /* line-height: 58px; */
   text-align: center;
   max-width: 1200px;
   height: 58px;
}


.Exclusive1{
    height: 80px;
}
.grid-contriner>*{
    /* background-color: #351165; */
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #FFFFFF;
    gap: 16px;

}
.grid-h4{
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    ine-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
.grid-h5{
    font-size: 11px;
    font-weight:300;
    line-height: 24px;
    text-align: left;
}
.headphone{
    grid-area:headphone ;
    justify-content: center;
}
.Mobile-Friendly{
    grid-area: Mobile-Friendly;
}
.Global{
    grid-area: Global;
}
.Exclusive{
    grid-area: Exclusive;
}
.Rich{
    grid-area: Rich;
}
.grid-contriner{
    display: grid;
    padding-top: 40px;
    gap: 30px;
    grid-template-areas: 
    "headphone Mobile-Friendly Mobile-Friendly"
    "headphone Global Global"
    "Exclusive Exclusive Rich";
}
.Episodes-contriner{
    background: #1A0B2E;
    max-width: 1600px;
    height: 1276px;
    color: #FFFFFF;
    padding: 120px 200px;
    
}
.Featured-Episodes{
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
}
.fastpodcast{
   max-width: 380px;
   height: 214px;
   background: url(https://img.youtube.com/vi/Ny-qhl4N9dY/hqdefault.jpg);
   background-position: center;
   border-radius: 24px 24px 0px 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   
    
}
.fastpodcastB{
   max-width: 380px;
   height: 214px;
   background: url(https://img.youtube.com/vi/RSAvh-bUHYg/hqdefault.jpg);
   background-position: center;
   border-radius: 24px 24px 0px 0px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.fastpodcastC{
   max-width: 380px;
   height: 214px;
   background: url(https://img.youtube.com/vi/YG1sW00jwLY/hqdefault.jpg);
   background-position: center;
   border-radius: 24px 24px 0px 0px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.fa-brands{
   font-size:60px;
   background: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;   
}

.podcasttext{
    max-width: 380px;
    height: 287px;
    padding-left: 24px;
    padding-top: 15px;
    padding-right: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #250D44;
    border-radius: 0px 0px 24px 24px;
} 
.podcastbigtext{
    font-style: Bold;
    font-size: 17px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
}
.podecastlittletext{
    font-size: 13px;
    font-weight: 200;
    line-height: 24px;
    text-align: left;
}
.podcastlatetext{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    text-align: left;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
}
.podcast-coontriner{
    display: flex;
    /* height: 400px; */
    gap: 30px;
    padding-top: 25px;
}
.Meet-the-Host{
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 50px;
}
.hostabout{
    /* background: #533C72; */
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    max-width: 1200px;
    height: 320px;
    padding: 40px;
    display: flex;
    gap: 24px;
}
.Alex-Kumar{
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
}
.alex-tech{
    font-size: 12px;
    font-weight: 200;
    line-height: 24px;
    text-align: left;
}
.alex-written{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.social-logo-contriner{
    display: flex;
    gap: 10px;
}
.img1{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding: 20px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img2{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding: 20px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img3{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding: 20px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img4{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding: 20px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    background: url(./assets/footer-bg.png);
    background-position: center;
    max-width: 1600px;
    height: 412px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    gap:32px;
}
.footerlogo-contriner{
    display: flex;
    width: fit-content;
    /* justify-content: space-between; */
    text-align: center;
    color: #FFFFFF;
    gap:45px;
    
    
}
.footer-logo{
    display: flex;
    justify-content: center;
    gap:10px;
    align-items:center;
    

}
.footerlogo-lastext{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    text-align: center;
}
.uniq{
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
}
.footer-bigtext{
    max-width: 1600px;
    height: 92px;
    padding-bottom: 32px;
    font-style: bold;
    font-weight:bolder;


}
.footer-navTech{
    font-size: 85px;
    max-width: 576px;
    height: 60px;
    color: #FFFFFF;
}
.footer-wave{
    background: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media screen and (max-width:576px) {
    .menu{
        display: none;
    }
    .Subscribe{
        display: none;
    }
    .hamber{
        display: inline;
        width: 20px;
        height: 20px;
    }
    nav{
        padding: 16px 20px;
        width: 100%;
    }
    .navTech{
        font-size: 20px;
        width: 137px;
        height: 20px;
    }
    .newicon{
        position: relative;
        left: 110px;
        top:90px;
        /* max-width:60px; */
        /* height: 30px; */
        /* padding-top: 5px  ; */
    }
    .herocircle{
        width: 250px;
        height: 250px;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        background-position: center;
        /* padding-bottom: 100px; */
    }
    .heroTL{
        max-width: 576px;
        height: 48px;
    }
    .hero{
        padding-bottom: 220px;
    }
    .apps-contriner{
        padding: 40px 20px;
    }
    .about-the-letter{
        max-width: 576px;
        height: 39px;
        font-style: Bold;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        text-align: center;
    }
    .appsdownB-contriner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        
    }
    .apps2-contriner{
        padding: 40px 20px;
        max-width: 576px;
        height: 1550px;
    }
    .top-letter{
        max-width: 576px;
        height: 39px;
        font-style: Bold;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        /* justify-content:left */
        /* text-align:left; */
        /* display: flex; */
        /* /* flex-direction: row;  */
    }
    .headphone{
      grid-area:headphone ;
       justify-content: center;
    }
    .Mobile-Friendly{
      grid-area: Mobile-Friendly;
    }
    .Global{
     grid-area: Global;
    }
    .Exclusive{
     grid-area: Exclusive;
    }
    .Rich{
      grid-area: Rich;
    }

    .grid-contriner{ 
        
        
        grid-template-areas:none;
        
        display: flex;
        flex-direction: column;
        gap:16px;
    } 
    .appsdownB-contriner{
        padding-top: 50px;
        max-width: 576;
        
     }
    .Episodes-contriner{
        max-width: 576px;
        height: 2230px;
        padding: 40px 20px;
     }
    .Featured-Episodes{
        max-width: 576px;
        height: 39px;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        text-align: center;
     }
    .podcast-coontriner{
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;
     }
    .Meet-the-Host{
        max-width:576px;
        height: 39px;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        text-align: center;
     }
    .hostabout{
        display: flex;
        flex-direction: column;
        max-width: 576px;
        height: 550px;
        justify-content: center;
        align-items: center;
     }
    .alex-written{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
    .alex-tech{
        text-align: center;
     }
    .footer{
        max-width: 576px;
        height: 400px;
        background-position: center;
        gap:20px;
        padding-top: 40px;

     }
    .footer-bigtext{
        padding-bottom: 5px;
        height: 50px;
    }
    .footer-navTech{
        font-size: 50px;
        height: 25;
        font-weight: 800;

     }
    .footerlogo-contriner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }

    }   
   


    

