@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  "Inter", sans-serif;

}
body{
    background: rgba(26, 11, 46, 1);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 200px;
    width: 100%;
    align-items: center;
    text-align: left;
}
.menu{
    display: flex;
    gap: 32px;
    color: #FFFFFF;
    font-style: medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.navTech{
/* font-size: large; */
/* font-weight: 900; */
font-size: 47px;
color: #FFFFFF;


}
.wave{
    border: 1px solid rgba(0, 0, 0, 1);
    background: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    



}
.Subscribe{
    color: #FFFFFF;
    font-style: medium;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    display: flex;
    gap: 4px;
    padding: 12px 16px 7px 16px;
    border-radius: 10000px;
    background:linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8) ;
    
}
.arrow{
    
}